[submodule "leetcode"]
	path = leetcode
	url = https://gitee.com/winnochan/leetcode.git
[submodule "blog"]
	path = blog
	url = https://gitee.com/winnochan/winnochan.git
[submodule "mooc"]
	path = mooc
	url = https://gitee.com/winnochan/mooc.git
